@charset "UTF-8";

h1 {
    font: normal bold 40px Verdana, Helvetica, sans-serif;
    text-align: center;
    color: blue
}

body {
    font: normal 18px Verdana, Helvetica, sans-serif;
    text-align: justify;
    background-color: lightblue;
    color: blue;
}