@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --fundo-nav: #23232e;
    --fundo-main: #0F1819;
    --fundo-letra: #ff001d;
    --white: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

/* MENU */

nav a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover {
    color: var(--fundo-letra);
    transition: 0.5s ease-in-out;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.logo:hover {
    color: var(--fundo-letra);
    transition: 0.5s ease-in-out;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--fundo-nav);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 0.188rem;
    margin-left: 2rem;
}

            /*  MENU RESPONSIVO */

.mobile-menu {
    display: none; /* esconde a barrinha do menu */
    cursor: pointer; /* efeito para clicar */
}

.mobile-menu div {
    width: 2rem;
    height: 0.125rem;
    background: var(--white);
    margin: 0.5rem;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--fundo-nav);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

                /*  CONTEÚDO    */
.container {
    height: 92vh;
    width: 100vw;
    background-color: var(--fundo-main);
    background-image: url(imagens/noirfidelis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 7rem;
}

h1 {
    font-size: 3.125rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-bottom: 2.5rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.social-media {
    margin-top: 1rem;
    display: flex;
    padding-top: 1.875rem;
}

.social-media a {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 4rem;
    border: 0.063rem solid var(--white);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.social-media a:hover {
    background-color: var(--fundo-letra);
}

            /*  CARDS   */
.conteudo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    background-image: url(imagens/exercicios.jpg); /* NÃO COUBE A IMAGEM TODA */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

            /*  FOOTER   */
footer {
    position: absolute;
    width: 100%;
    height: 1.875rem;
    bottom: 0;
    background-color: var(--fundo-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer a:hover {
    color: var(--fundo-letra);
    transition: 0.5s ease-in-out;
}