@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#conteiner {
    height: 100vh;
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo {

}

.imagem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}